{% extends "base.html" %}

{% block content %}

  <div class="hero is-large is-primary">

    <div class="hero-body">

      <div class="container has-text-centered">

        <h1 class="title">
          <code>iced-rs</code>
        </h1>

        <h1 class="subtitle">
          a cross-platform GUI library focused on simplicity and type-safety. Inspired by Elm.
        </h1>

        <div class="is-centered">
          <a class="button is-link is-medium" href="{{ get_url(path="@/docs/_index.md") | safe }}">docs</a>
          <a class="button is-link is-medium" href="{{ get_url(path="@/tour/_index.md") | safe }}">demo</a>
        </div>

      </div>

    </div>

  </div>

{% endblock content %}
